@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");

@import 'custom';

html{
    position: relative;
    min-height: 100%;
}
header{
    margin: 10px;
    border-radius: 15px;
}



main{
    margin-bottom: 150px;
}
footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 15px;

}


// html{
//     color : yellow;

// }
// h1{
//     color: red;
// }