@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");

@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

// html{
//     color : yellow;

// }
// h1{
//     color: red;
// }